* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	color: #efefef;
	font-family: 'Raleway', sans-serif;
	text-shadow: 1px 1px 15px #000000;
	background: 
		linear-gradient(
			rgba(17, 126, 112, 0.5), 
			rgba(0, 88, 255, 0.5)
		),

		/*url(https://images.pexels.com/photos/1023953/pexels-photo-1023953.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);*/
	background-size: cover;
	background-color: black;	
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a {
	color: #9af1fc;
	text-decoration: none;
}

hr {
	width: 20rem;
	border: none;
	height: 2px;
	background-color: #00BCD4;
	margin: 1.5rem 0;
}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/*width: 75%; */
}

.container {
	display: flex;
	align-items: center;
	width: 75%;
}


.overview {
	padding: 3rem;
}

.fullname {
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 1.75;
}

.description {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;
}

.job-title {
	color: #ffc107;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.75rem;
	margin-bottom: 1 rem;
	font-weight: bolder;
	margin-top: 0.5rem;
}

.image-container {
	width: 100%;
	padding: 3rem;
}

.image-container img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	margin: auto;
	display: block;
	/* border-radius: 50% */
}

.works {
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

.works h2 {
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 1rem;
}

.works img {
	width: 80px;
	height: 80px;
	object-fit: cover;
}

.social-media a {
	color: #efefef;
	margin: 0 0.5rem;
	font-size: 1.5rem;
	opacity: 0.5;
}

.social-media a:hover {
	opacity: 1;
}

.ad {
	margin: 0.5rem;
}

@media (max-width: 980px) {
	.container {
		flex-direction: column;
	}
	.image-container {
		width: 100%;
		padding: 3rem 0 0;
	}

.overview {
	order: 1;
	padding: 3rem 0;
}

main {
	background: 
		linear-gradient(
			rgba(17, 126, 112, 0.5), 
			rgba(0, 88, 255, 0.5)
			)
}


/*
.imagez {
	width: 15%;
	height: 55%;

*/

